    body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    line-height: 1.5em;
    background-color: #238b8988;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
    }
    nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    }
    nav a {
    background-color: rgb(4, 48, 26);
    color: #d9c2a3;
    padding: 35px;
    min-width: 120px;
    text-decoration: none;
    }
    nav a:hover {
    background-color: black;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    }
    .book, .join {
    background-color: rgb(3, 37, 6);
    color: #d9c2a3;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    }
    .book:hover, .join:hover {
    background-color: rgba(179, 191, 159, 0.659);
    color: rgb(4, 87, 35);
    }
    .rivers-card, .camping-card, .rapids-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 200px 0;
    border: 10px solid darkolivegreen;
    }
    footer {
    background-color: rgba(62, 110, 80, 0.7);
    line-height: 1.5em;
    padding: 25px 50px;
    }
    footer a {
    background-color: rgb(3, 37, 6);
    color: #d9c2a3;
    }
    footer a:hover {
    background-color: rgba(179, 191, 159, 0.659);
    color: rgb(4, 87, 35);
    }
    footer .social img {
    width: 50px;
    height: 50px;
    }
